{%- comment -%}
CUSTOM MEGA MENU SYSTEM - HARDCODED VERSION
This version allows you to define mega menus directly in code without Shopify admin blocks.

To add a mega menu:
1. Add the menu item name to the mega_menu_items list in custom-mega-menu.liquid
2. Configure the promotional images in the case statement
3. Create your menu structure in Shopify Navigation
{%- endcomment -%}

{%- if section.settings.desktop_navigation_layout == 'condensed' -%}
  {%- assign is_floating = true -%}
{%- else -%}
  {%- assign is_floating = false -%}
{%- endif -%}

{%- comment -%}
  Check if this menu should be rendered as a mega menu
  This is handled by the custom-mega-menu snippet
{%- endcomment -%}

{%- assign downcase_title = menu.title | downcase | strip -%}
{%- assign mega_menu_items = 'lighting,furniture,brands,home improvement' | split: ',' -%}
{%- assign is_mega_menu = false -%}

{%- for item in mega_menu_items -%}
  {%- assign item_downcase = item | downcase | strip -%}
  {%- if downcase_title == item_downcase -%}
    {%- assign is_mega_menu = true -%}
    {%- break -%}
  {%- endif -%}
{%- endfor -%}

{%- if is_floating == false and is_mega_menu -%}
  {%- comment -%}Render custom mega menu{%- endcomment -%}
  {%- render 'custom-mega-menu', mega_menu: menu, index: index, is_floating: is_floating -%}
{%- else -%}
  {%- comment -%}Render standard dropdown menu{%- endcomment -%}
  <ul id="{{ index }}" class="nav-dropdown {% if is_floating %}nav-dropdown--floating nav-dropdown--fixed{% elsif menu.levels == 1 %}nav-dropdown--restrict{% endif %}" data-type="menu" aria-hidden="true" role="list">
    {%- if is_floating -%}
      {%- render 'icon', icon: 'nav-triangle-borderless' -%}
    {%- endif -%}

    {%- for link in menu.links -%}
      {%- comment -%}Check if this sub-item should be a mega menu{%- endcomment -%}
      {%- assign is_sub_mega_menu = false -%}
      {%- assign downcase_link_title = link.title | downcase | strip -%}

      {%- for item in mega_menu_items -%}
        {%- assign item_downcase = item | downcase | strip -%}
        {%- if downcase_link_title == item_downcase -%}
          {%- assign is_sub_mega_menu = true -%}
          {%- break -%}
        {%- endif -%}
      {%- endfor -%}

      <li class="nav-dropdown__item {% if is_sub_mega_menu %}has-mega-menu{% endif %}">
        {%- if link.links.size == 0 -%}
          <a href="{{ link.url }}" class="nav-dropdown__link link" data-type="menuitem">{{ link.title }}</a>
        {%- else -%}
          {%- capture index_nested -%}{{ index }}-{% increment nav_dropdown %}{%- endcapture -%}
          <a href="{{ link.url }}" class="nav-dropdown__link link" data-type="menuitem" aria-expanded="false" aria-controls="{{ index_nested }}" aria-haspopup="true">{{- link.title -}} {%- render 'icon', icon: 'arrow-right' -%}</a>

          {%- if is_sub_mega_menu -%}
            {%- render 'custom-mega-menu', mega_menu: link, index: index_nested, is_floating: is_floating -%}
          {%- else -%}
            <ul id="{{ index_nested }}" class="nav-dropdown {% if is_floating %}nav-dropdown--floating{% endif %}" data-type="menu" aria-hidden="true" role="list">
              {%- render 'icon', icon: 'nav-triangle-left' -%}

              {%- for sub_link in link.links -%}
                <li class="nav-dropdown__item">
                  {%- if sub_link.links.size == 0 -%}
                    <a href="{{ sub_link.url }}" class="nav-dropdown__link link" data-type="menuitem">{{ sub_link.title }}</a>
                  {%- else -%}
                    {%- capture index_nested_nested -%}{{ index_nested }}-{% increment nav_dropdown_nested %}{%- endcapture -%}

                    <a href="{{ sub_link.url }}" class="nav-dropdown__link link" data-type="menuitem" aria-expanded="false" aria-controls="{{ index_nested_nested }}" aria-haspopup="true">{{- sub_link.title -}} {%- render 'icon', icon: 'arrow-right' -%}</a>

                    <ul id="{{ index_nested_nested }}" class="nav-dropdown {% if is_floating %}nav-dropdown--floating{% endif %}" data-type="menu" aria-hidden="true" role="list">
                      {%- render 'icon', icon: 'nav-triangle-left' -%}

                      {%- for sub_sub_link in sub_link.links -%}
                        <li class="nav-dropdown__item">
                          <a href="{{ sub_sub_link.url }}" class="nav-dropdown__link link" data-type="menuitem">{{ sub_sub_link.title }}</a>
                        </li>
                      {%- endfor -%}
                    </ul>
                  {%- endif -%}
                </li>
              {%- endfor -%}
            </ul>
          {%- endif -%}
        {%- endif -%}
      </li>
    {%- endfor -%}
  </ul>
{%- endif -%}